<% include ./partials/header %>

<!-- <div class="ui inverted container">
	
<div class="ui form" style="margin-top:80px;">
	<h4 class="ui center aligned dividing huge header">Welcome to HMS</h4>
<div class="field">

<div style="width:30% ;margin:25px auto">

	<div>
		<a href="/login/user" class="ui basic big teal button">User</a>
	</div>
	<div>
		<a href="/login/doc" class="ui basic big teal button">doctor</a>
	</div>
	<div>
		<a href="/login/admin" class="ui basic big teal button">Admin</a>
	</div>
	</div>
	</div>
	</div>
</div>
 -->
<div class="ui container" style="width: 35%">
	  <div class="ui placeholder segment container" style="margin: 8em">
        <div class="column">
          <div class="ui form">
            <div class="middle aligned column" style="margin-left: 3em">
              <div class="ui big basic button"><a href="/login/user">User</a> 
              </div>
              <div class="ui big basic button" style="margin-top: 2em"><a href="/login/doc">Staff</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
<% include ./partials/footer %>