<% include partials/header %>

<div class="ui container" style= "margin-top:6em">
	<div class="text-center">
   <div class="page-header">
    <h1>Doctors Consulting</h1>
  </div>
   </div>

	
	
<table class="ui red celled table">
  <thead >
      	<tr>
          <th >Doctor Name</th>
          <th>Department</th>
		<th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
      	<%  user.docs.forEach(function(Doc){ %>
        <% console.log(Doc) %>
        </tr>
        <tr>
        <td><%= Doc.name %></td>
		<td><%= Doc.department %></td>
		<td class = "center aligned">
			<a class="ui orange basic button" href="/users/<%= Doc._id %>">Show</a>
		</td> 
		<td class = "center aligned">
			<form action="/users/<%= Doc._id %>/docs?_method=DELETE" method="POST" style="display: inline">
				<button  class="ui red basic button">Delete</button>
			</form>
		</td> 
		<% }) %>    

       
	</tr>
   </tbody>
   </table>

	<div class="ui center aligned container">
		<button class="ui teal basic button"><a href="/landing/user">Back</a></button>

	</div>
  
</div>

<% include partials/footer %>