<% include partials/header %>

<div class="ui container" style= "margin-top:6em">
	<div class="text-center">
   <div class="page-header">
    <h1>Diagnosis Reports</h1>
  </div>
   </div>

	
	
<table class="ui red celled table">
  <thead >
      	<tr>
          <th >Diagnosis Name</th>
          <th>Date</th>
		<th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
      	<%  user.diags.forEach(function(Diag){ %>
        <% console.log(Doc) %>
        </tr>
        <tr>
        <td><%= Diag.name %></td>
		<td><%= Diag.date %></td>
		<td class = "center aligned">
			<a class="ui orange basic button" href="/users/<%= Diag._id %>">Show</a>
		</td> 
		<td class = "center aligned">
			<form action="/users/<%= Diag._id %>/diags?_method=DELETE" method="POST" style="display: inline">
				<button  class="ui red basic button">Delete</button>
			</form>
		</td> 
		<% }) %>    

       
	</tr>
   </tbody>
   </table>

	<div class="ui center aligned container">
		<button class="ui teal basic button"><a href="/landing/user">Back</a></button>

	</div>
  
</div>

<% include partials/footer %>